@use '@angular/material' as mat;

.wrapper {
  height: 100vh;
  width: 100%;
}

swiper-container {
  height: 94vh;
  width: 100%;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.slide-header {
  flex: 0 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  background-color: #647db5;
  color: white;
  z-index: 2;
}

.slide-body {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  background-color: #e7e0cd;
}

.verse-text {
  font-size: 6vw;
  line-height: 1;
  text-align: center;
  color: #1c1c47;
  text-shadow: 0 0 30px #7f7ff5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content {
  flex: 9; /* 90% */
  overflow: hidden;
}

swiper-container {
  height: 100%;
  width: 100%;
}

.form-footer {
  flex: 1; /* 10% */
  background-color: #1c1c47;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    color: white;
  }

  select {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    background-color: white;
  }
}
